.projects{
height: 100vh;
  background-color: #cbcdff;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  border: 1px solid;

}
.myProjectsHeader {
  height: 150px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myProjectsContainer {
  /*height: 500px;*/
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 736px) {
  .myProjectsContainer {
    justify-content: center;
    flex-wrap: wrap;
  }
}