.MyskillContainer {
  width: 200px;
  border: 1px solid;
  background-color: aliceblue;
}


.mySkillImg {
  height: 20%;

}

.mySkillImg img{
  width: 50px;
  height: 50px;
  background-color: aliceblue;
  border: 1px solid;
}

.mySkillDescription {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 503px){
  .MyskillContainer {
    width: 80%;
  }
}