.footer{
height: 300px;
  background-color: #a7ff9c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 150px;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
}